<%- include('../partials/header', { title: 'Actors' }) %>
<a href="/actors/add" class="btn btn-success mb-3">+ Add Actor</a>

<h2 class="text-center mb-4">Actors</h2>

<div class="row g-4">

<% actors.forEach(a => { %>
    <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 text-center">

            <% if (a.img_url) { %>
                <img 
                    src="<%= a.img_url %>" 
                    class="card-img-top rounded-top-4"
                    alt="<%= a.first_name %>"
                    style="height:250px; object-fit:cover;">
            <% } else { %>
                <img 
                    src="/images/default_actor.jpg" 
                    class="card-img-top rounded-top-4"
                    style="height:250px; object-fit:cover;">
            <% } %>

            <div class="card-body">
                <h5 class="card-title fw-bold">
                    <%= a.first_name %> <%= a.last_name %>
                </h5>
            </div>

        </div>
    </div>
<% }) %>

</div>

<%- include('../partials/footer') %>
