<%- include('../partials/header', { title: 'Streamings' }) %>

<h2>Streamings</h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Website</th>
    </tr>

    <% streamings.forEach(s => { %>
    <tr>
        <td><%= s.id %></td>
        <td><%= s.name %></td>
        <td><a href="<%= s.website %>" target="_blank"><%= s.website %></a></td>
    </tr>
    <% }) %>
</table>

<%- include('../partials/footer') %>