<%- include('../partials/header', { title: 'Genres' }) %>

<h2>Genres</h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Genre</th>
        <th>Date Created</th>
        <th>Last Updated</th>
    </tr>

    <% genres.forEach(g => { %>
    <tr>
        <td><%= g.genre_id %></td>
        <td><%= g.genre %></td>
        <td><%= g.date_created %></td>
        <td><%= g.last_update %></td>
    </tr>
    <% }) %>
</table>

<%- include('../partials/footer') %>