<%- include('../partials/header', { title: 'Production Companies' }) %>
<%- include('../partials/navbar') %>

<h1 class="mt-4">Production Companies</h1>

<table class="table table-bordered table-striped mt-3">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>

    <% production.forEach(p => { %>
        <tr>
            <td><%= p.production_id %></td>
            <td><%= p.name %></td>
        </tr>
    <% }) %>
</table>

<%- include('../partials/footer') %>

