<%- include('../partials/header', { title: 'Director Detail' }) %>
<%- include("../partials/navbar") %>
<h2><%= director.first_name %> <%= director.last_name %></h2>

<p>ID: <%= director.director_id %></p>

<%- include('../partials/footer') %>