<%- include('../partials/header', { title: 'Directors' }) %>
<%- include('../partials/navbar') %>

<h2>Directors</h2>

<table class="table table-striped">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Image</th>
</tr>

<% directors.forEach(d => { %>
<tr>
    <td><%= d.id %></td>
    <td><%= d.name %></td>
    <td><%= d.age %></td>
    <td>
        <% if (d.image) { %>
            <img src="/images/<%= d.image %>" width="80">
        <% } %>
    </td>
</tr>
<% }) %>

</table>

<%- include('../partials/footer') %>