<%- include('../partials/header', { title: 'Directors' }) %>
<%- include('../partials/navbar') %>

<h2>Directors</h2>

<table class="table table-striped">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Image</th>
</tr>

<% directors.forEach(d => { %>
<tr>
    <td><%= d.director_id %></td>
    <td><%= d.director %></td>
    <td><%= d.date_created %></td>
    <td><%= d.last_update %></td>
</tr>
<% }) %>

</table>

<%- include('../partials/footer') %>