<%- include("../partials/header", { title: "Programs" }) %>

<h1 class="mb-4 text-white">🎄 Programs</h1>

<div class="row">
    <% programs.forEach(program => { %>
        <div class="col-md-4 mb-3">
            <div class="card shadow">
                <img src="<%= program.poster %>" class="card-img-top" alt="<%= program.title %>">
                <div class="card-body">
                    <h5 class="card-title"><%= program.title %></h5>
                    <p class="card-text">
                        Release Year: <%= program.yr_released %>
                    </p>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<%- include("../partials/footer") %>